<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    <form method="POST">
                {% csrf_token %}

        <label >Username</label><br>
        <input type="text" name="username" placeholder="Enter username..."><br><br>

        <label >Password</label><br>
        <input type="password" name="password" placeholder="Enter password..."><br><br>
        <button>Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>

    {% if messages %}
    {% for message in messages %}
    <p style="color: red;">{{message}} </p>
    {% endfor %}
    {% endif %}
</body>
</html>