<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label >Username</label><br>
        <input type="text" name="username" placeholder="Enter username..."><br><br>
        
    {% if messages %}

    {% for message in messages %}
    <p style="color: red;">{{message}}</p>
    {% endfor %}

    {% endif %}

        <label >Email</label><br>
        <input type="email" name="email" placeholder="Enter email..."><br><br>

        <label >Password</label><br>
        <input type="password" name="password" placeholder="Enter password..."><br><br>
        <button>Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'loginn' %}">Login</a></p>

</body>
</html>